footer {
    padding: 2vh 4vw 2vh 4vw;
    color: white;
    background: linear-gradient(
  45deg, 
  #0c0c0c 0%, 
  #111111 14%, 
  #151515 28%, 
  #1d1d1d 49%, 
  #232323 70%, 
  #282828 93%
);
}

.footer-high-footer {
    display: flex;
    gap: 8vw;
    font-size: 50px;
}

.footer-high-footer p {
    width: 30vw;
}

.footer-high-footer img {
    width: 40vw;
}

.footer-reseau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    color: white;
}

.footer-reseau-picture {
    background-color: #333333;
    border-radius: 35px;
    padding: 1.7vh;
}

.footer-bottom-footer {
    display: flex;
    justify-content: center;
}

.footer-bottom-footer h2 {
    font-size: 2.5em;
}

.footer-bottom-footer-child {
    width: 30vw;
}

.footer-bottom-footer li {
    font-size: 1.7em;
}

.separator {
    border-left: 3px solid white;
    padding-left: 4vw;
    margin-left: 1vw;
}

@media (max-width: 992px) {

    .footer-high-footer {
        gap: 20vw;
    }

    .footer-reseau {
        flex-direction: row;
        
    }

    .footer-reseau-picture {
        padding: 1vw;
    }

    

    .footer-bottom-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom-footer h2 {
        font-size: 1.5em;
    }

    .footer-bottom-footer li {
        font-size: 1.2em;
    }

    .footer-bottom-footer-child {
        width: 90vw;
    }

    .separator {
        border-left: none;
        border-top: 3px solid white;
    }
}