/*fichier css globals avec les variables*/

@font-face {
    font-family: 'Jost';
    src: url(../../public/assets/Jost/static/Jost-Regular.ttf) format('truetype');
    font-weight: normal; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url(../../public/assets/Jost/static/Jost-Medium.ttf) format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url(../../public/assets/Jost/static/Jost-Bold.ttf) format('truetype');
    font-weight: bold; /* Bold */
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

:root {
    --font-primary: 'Jost', sans-serif;
    --text-size : 1.25rem; /*20 sur figma*/
    --title-size: 3.125rem; /*50 sur figma*/
    --bg-primary: #FFFFFF;
    --bg-secondary: #F5F5F5;
    --color-primary: #333333;
    --section-color: #B5B5B5;
    --success-color: #43A73A;
    --button-color: #333333;
    --input-color1: #E2E2E2;
}

@media (prefers-color-scheme: dark) {
}

body { /*A VOIR*/
    /* margin: 0;
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}
  
code { /*A VOIR*/
    /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

h1 {
    font-size: 90px;
}

body {
    background-color: var(--bg-primary);
    color: var(--color-primary);
}

h2 {
    font-size: var(--title-size); 
    /*clamp(30px,5vw,var(--title-size)); pour le responsive*/
}

h3 {
    font-size: 2rem;
}

p {
    font-size: var(--text-size);
}

.error-message-div {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    color: #FF0000;
    border: dashed #FFB2B2 1px ;
    background-color: rgba(255, 178, 178, 0.28);
}

.error-message-div>* {
    font-size: 16px;
}

.invisible {
    display: none !important;
}
  

/** Pour les ordinateurs **/

/** Pour les tablettes   **/

/** Pour les téléphones  **/ 