/*fichier css globals avec les variables*/

@font-face {
    font-family: 'Jost';
    src: url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: 'Jost', sans-serif;
    --text-size : 1.25rem; /*20 sur figma*/
    --title-size: 3.125rem; /*50 sur figma*/
    --bg-primary: #FFFFFF;
    --bg-secondary: #F5F5F5;
    --color-primary: #333333;
    --section-color: #B5B5B5;
    --success-color: #43A73A;
    --button-color: #333333;
}

@media (prefers-color-scheme: dark) {
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-primary);
    color: var(--color-primary);
}

h2 {
    font-size: var(--title-size);
}

p {
    font-size: var(--text-size);
}



/** Pour les ordinateurs **/

/** Pour les tablettes   **/

/** Pour les téléphones  **/ 