@font-face {
    font-family: 'Jost';
    src: url('assets/font/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-primary: 'Jost', sans-serif;
    --text-size : 1.25rem; 
    --title-size: 3.125rem; 
    --bg-primary: #FFFFFF;
    --color-primary: #0000;
    --section-color: #B5B5B5;
    --success-color: #43A73A;
    --button-color: #333333;
}

body{
    font-family: var(--font-primary);
    margin: 0 auto;
    padding: 0;
}


.title{
    font-size: 5.625rem;
    line-height: 90px;
    margin: 0;
}

.title-container{
    width: 30%;
    margin-left: 10%;
}

.main-container{
    background-color: black;
    background: no-repeat url('../styles/assets/img/catalog/mainCatalogImage.jpg') center center ;
    background-size: cover;
    top: 0;
    margin: 0;
    position: relative;
    height: 90vh;
    padding-top: 10vh;
}

.catalog-subtitle{
    font-size: var(--text-size);
}

.filterBar-container{
    display: flex;
    justify-content: center;
    height: 50px;
    border-radius: 15px;
    padding-top: 15%;
}

.filterBar-container > input{
    width: 50%;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 20px;
    font-size: 1em;
    color: var(--button-color);
}


.filterIcon{
    padding-top: 5px;
}
.filterBar-container > button{
    width: 100px;
    border: none;
    border-right: solid 2px var(--section-color);
}
.filterBar-container > button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filterBar-container > button:hover{
    background-color: #dedede;
}


.white{
    color: white;
}
