.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logos-img-container {
    text-align: center;
}

.reset-password-img {
    margin-bottom: 10px;
    max-width: 381px;
    max-height: 520px;
    height: auto;
    width: 90%;
    aspect-ratio: 381 / 520;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.airconcess-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.right-container-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.email-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reset-password-button,
.reset-password-retour {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.reset-password-button:hover,
.reset-password-retour:hover {
    background-color: #555;
}

.response-message {
    color: green;
    margin-bottom: 20px;
}

.error-html {
    color: red;
    margin-bottom: 20px;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logos-img-container {
    text-align: center;
}

.new-password-img {
    max-width: 100%;
    height: auto;
}

.right-container {
    padding: 20px;
    width: 80%;
}

.airconcess-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.right-container-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.response-message {
    margin-top: 20px;
    color: green;
}

.error-html {
    margin-top: 20px;
    color: red;
}

.reset-password-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
}