.left-container {
    width: 100%;
    height: auto;
    display: block;
}

.verify-email-img {
    margin-bottom: 10px;
    max-width: 381px;
    max-height: 520px;
    height: auto;
    width: 90%;
    aspect-ratio: 381 / 520;
}

.right-container {
    padding: 20px;
    width: 80%;
}

.logos-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

.airconcess-logo {
    width: 100%;
    margin-top: -40px;
    height: auto;
}

.response-message {
    margin-top: 10px;
    font-size: var(--text-size);
    color: var(--success-color);
}

.error-html {
    margin-top: 10px;
    font-size: var(--text-size);
    color: red;
}

.right-container-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.right-container-para {
    font-size: 14px;
    color: var(--color-primary);
    width: 100%;
    text-align: center;
}

.verify-email-retour {
    margin-top: 20px;
    width: 100%;
}

@media (max-height: 700px) {
    .left-container {
        margin-top: 80px;
    }

    .logos-img-container {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .verify-email-img {
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    .left-container {
        display: block;
    }
}