.dark-button {
    background-color: #333333;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: var(--text-size);
    transition: all ease 0.2s;
}

.dark-button:disabled {
    background-color: #33333365;
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.895);
}