.scroll-down-button {
    font-size: clamp(35px, 4vw, 50px);;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all ease 0.8s;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #333333;
}
