.first-maintenance-component {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 15vw;
    padding-left: 10vw;
    position: relative;
    background: linear-gradient(to top, transparent 0%, transparent 7%, #E2E2E2 7.01%, #E2E2E2 43%, transparent 43.01%) no-repeat 40vw top / 40% 100%;
    z-index: -2;
}


.first-maintenance-component img {
    position: absolute;
    width: 40vw;
    aspect-ratio: 676/565;
    margin-right: 30vw;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 1px 1px 9px grey;
}

.first-maintenance-component section {
    width: 35vw;
    aspect-ratio: 626/380;
    background-color: #F5F5F5;
    padding: 6vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    box-shadow: 1px 1px 9px grey;
    border-radius: 5px;
}