.third-maintenance-component {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-bottom: 15vh;
}

.third-maintenance-component h2 {
    text-align: center;
}

.third-maintenance-component-child {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}