.third-section-landing-new {
    position: relative;
    padding: 50px 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
}

.third-section-container-new {
    display: flex;
    justify-content: space-between;
}

.steps-new {
    margin-left: 60px;
}

.plane-animation {
    width: 100px;
    background-position: 97%;
    background-repeat: no-repeat;
    background-size: contain;
}

.third-section-steps-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.third-section-text-new {
    width: 80%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.third-section-text-new h2 {
    margin-bottom: 8vw;
    font-family: var(--font-primary);
    font-size: var(--title-size);
}

.steps-text h3 {
    margin-bottom: 10px;
    font-family: var(--font-primary);
    font-size: var(--text-size);
}

.steps-text p {
    font-size: var(--text-size);
    color: var(--color-primary);
    line-height: 1.6;
}

@media (max-width: 723px) {
    .plane-animation {
        width: 100px;
        margin-top: 10px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .plane-animation {
        width: 80px;
        margin-top: 5px;
    }
}

@media (max-width: 320px) {
    .plane-animation{
        display: none;
    }

    .third-section-text-new{
        text-align: center;
        width: 100%;
    }

    .third-section-text-new h2{
        text-align: center;
        width: 100%;
        font-size: var(--title-size);
    }
}
