.third-training-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding-bottom: 10vh;
}


.third-training-component-image {
    display: flex;
    width: 80vw;
}

.third-training-component-container {
    width: 26.67vw;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;

    color: white;
}

.third-training-component-container h3 {
    padding-bottom: 2vh;
    margin-top: 35vh;
}

.third-training-component-first {
    background-image: url(../../../../frontend/public/assets/training/simulateurPilotage.jpg);
}

.third-training-component-second {
    background-image: url(../../../../frontend/public/assets/training/maintenance2.jpg);
}

.third-training-component-third {
    background-image: url(../../../../frontend/public/assets/training/avionModerne.jpg);
}
