.maintenance-service {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maintenance-service-top {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

.maintenance-service-bottom {
    display: flex;
    align-items: center;
}

.maintenance-service-left {
    width: 50vw;
}

.maintenance-service-left img {
    width: 30vw;
    aspect-ratio: 1/1;
    margin-left: 5vw;
    border-radius: 5px;
    box-shadow: 3px 3px 15px ;
}

.maintenance-service-right {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.maintenance-service-button {
    width: 18vw;
}