.maintenance-service {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.maintenance-service-top {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

.maintenance-service-bottom {
    display: flex;
    align-items: center;
}

.maintenance-service-left {
    width: 50vw;
}

.maintenance-service-left img {
    width: 30vw;
    aspect-ratio: 1/1;
    margin-left: 5vw;
    border-radius: 5px;
    box-shadow: 3px 3px 15px ;
}

.maintenance-service-right {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.maintenance-service-button {
    width: 18vw;
    margin-bottom: 10vh;
}

@media (max-width: 992px) {
    .maintenance-service {
        height: auto;
        padding-top: 5vh;
    }

    .maintenance-service-bottom {
        flex-direction: column;
        gap: 10vh;
    }

    .maintenance-service-left {
        display: none;
    }

    .maintenance-service-right h2 {
        text-align: center;
    }

    .maintenance-service-right {
        width: 70vw;
        align-items: center;
        text-align: justify;
    }

    .maintenance-service-button {
        width: 50vw;
    }

}