.appointmentForm-container {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    width: 100%;
}

.appointmentForm-container p {
    color: #5B5B5B;
    font-size: 14px;
}

.appointmentForm-container .form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 13rem 0;
    background-color: #ffffff;
    /* background-color: red; */
    width: 65%;
}


.appointmentForm-container h3 {
    margin: 2rem 0;
}

.appointmentForm-container .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    gap: var(--form-fieldset-gap);
    width: 70%;
}

.appointmentForm-container .form-container fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border:solid 1px #B5B5B5;
    padding: 1rem 5% 1.5rem;
    /* gap: 1rem; */
}

.appointmentForm-container .form-container legend {
    margin-left: 2%;
    padding: 0 2%;
    font-weight: 500; /* Medium */
    /* background-color: red; */
}

.appointmentForm-container .form-container label:not(.invisible-label) {
    color: #5B5B5B;
    font-size: 14px;
} 

.appointmentForm-container .form-container label:not(.invisible-label)>svg {
    font-size: 20px !important;
}

/* Le style des input et pour les input type/file ils ont la class invisible
    et leur comportement est gere par la div-upload */
.appointmentForm-container .form-container input:not(.invisible), 
.form-container .div-upload,
.form-container .css-13cymwt-control,
.form-container .css-t3ipsp-control {
    border: solid #B5B5B5 1px;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: var(--text-size);
    /* background-color: rgb(109, 245, 245); */
    width: 100%;
    -webkit-transition: border-color ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

.form-container .css-13cymwt-control,
.form-container .css-t3ipsp-control {
    padding: unset;
    height: 40px !important;
}

.form-container .css-13cymwt-control input ,
.form-container .css-t3ipsp-control input{
    padding: unset !important;
}

.appointmentForm-container .form-container input:not(.invisible):focus-within,
.form-container .css-t3ipsp-control {
    outline: solid 2px #acd7ff !important;
    border:solid 1px #61b3ff !important;
}

.css-hlgwow:hover {
    cursor: text;
}

.css-19bb58m,.css-1cfo1cf {
    padding: unset !important;
    margin: unset !important;
}

.css-1wy0on6:hover {
    cursor: pointer;
}

.appointmentForm-container .form-container .css-t3ipsp-control input:focus-within,
.appointmentForm-container .form-container .css-13cymwt-control input:focus-within {
    outline: unset !important;
    border: unset !important;
}

/* ############## reason-fieldset ############## */

.appointmentForm-container .reason-fieldset>div:last-of-type{
    gap: 2%;
    display: flex;
    flex-direction: row;
}

.appointmentForm-container .reason-fieldset div label:first-of-type {
    width: 68%;
}

.appointmentForm-container .reason-fieldset div label:nth-child(2) {
    width: 30%;
}

/* ############## rdv-fieldset ############## */

.appointmentForm-container .rdv-fieldset,.reason-fieldset { 
    gap: var(--form-input-gap);
}

.appointmentForm-container .rdv-fieldset>div:nth-of-type(2) {
    display: flex;
    gap: 2%;
}

.appointmentForm-container .rdv-fieldset>div:nth-of-type(2) input:not(.input-error) {
    border: solid 1px transparent;
    border-right:solid 1px #B5B5B5;
}

.appointmentForm-container .rdv-fieldset>div:nth-of-type(2)>div {
    width: 49%;
}

.appointmentForm-container .rdv-fieldset>div:nth-of-type(2)>div>p,
.appointmentForm-container .reason-fieldset>div:nth-of-type(2)>p {
    color: #5B5B5B;
    font-size: 14px;
}

.appointmentForm-container .invisible {
    display: none;
}

.appointmentForm-container .rdv-fieldset #addr-label:not(.invisible)>p {
    color: #5B5B5B;
    font-size: 14px;
}

.appointmentForm-container .rdv-fieldset #addr-label:not(.invisible) section {
    display: flex;
    /* background-color: orange; */
    padding: 5px 10px;
    border-radius: 2px;
    border: dashed 1px #B5B5B5;
}

.appointmentForm-container .rdv-fieldset #addr-label:not(.invisible) > section > p {
    width: 100%;
}

.appointmentForm-container .rdv-fieldset #addr-label:not(.invisible) > section #copy-addr-button {
    height: auto;
    width: 1.5em;
    cursor: pointer;

}

.appointmentForm-container .rdv-fieldset #addr-label:not(.invisible) > section #copy-addr-message {
    /* background-color: red; */
    width: 5rem;
    /* height: fit-content; */
    font-size: 20px;
    text-align: right;
    align-content: center;
}


.appointmentForm-container .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-size);
    color: #FFFFFF;
    background-color: #333333;
    padding: 5px;
    font-weight: 500; /*Medium*/
    border: none;
    border-radius: 5px;
    width: 60%;
    cursor: pointer;
    margin-bottom: var(--form-fieldset-gap);
    transition: all ease 0.4s;
}


input.input-error, .input-error>div:not(.PhoneInputCountry){
    outline: solid 1px #f77575 !important;
    border:solid 1px #FF0000 !important;
}

.input-error div input {
    outline: unset !important;
}