.info-fieldset {
    gap: var(--form-input-gap);
}

.info-fieldset div:not(.error-message-div)>p{
    color: #5B5B5B;
    font-size: 14px;
}

.info-fieldset>div>div, .info-fieldset>div:not(:nth-of-type(2), :first-of-type) {
    display: flex;
    flex-direction: column;
    gap: var(--form-input-gap);
}

.info-fieldset>div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

.info-fieldset>div:nth-of-type(2)>div {
    width: 48%;
}

.info-fieldset>div:last-of-type .div-upload {
    display: flex;
}

.info-fieldset>div:last-of-type .div-upload .file-name {
    width: 95%;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.info-fieldset .invisible {
    display: none !important;
}

.inactive-label {
    width: 5%;
    height: auto;
}

.info-fieldset>div:last-of-type .div-upload svg {
    height: 100%;
    cursor: pointer;
}

.info-fieldset>div:nth-of-type(2)>div:nth-child(2) {
    margin-left: 4%;
}

.info-fieldset>div:nth-of-type(2)>div:nth-child(2)>div {
    display: flex;
    flex-direction: row;
}

.info-fieldset>div:nth-of-type(2)>div:nth-child(2)>div label {
    margin: 0;
}

.info-fieldset>div:nth-of-type(2)>div:nth-child(2)>div>label:first-of-type {
    width: 60%;
    /* background-color: orange; */
}

.info-fieldset>div:nth-of-type(2)>div:nth-child(2)>div label:last-of-type {
    width: 38%;
    margin-left: 2%;
    /* background-color: red; */
}