header {
    position: fixed;
    padding: 0vw 4vw;
    width: 100%;
    /* S'assure que le header prend toute la largeur */
    z-index: 10000;
    height: 10vh;
}

.header-default-menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-default-menu>a {
    display: flex;
    width: 11vw;
}

.header-default-menu img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    align-items: center;
    gap: 4vw;
    font-size: var(--text-size);
    font-weight: 500;
}

nav ul {
    display: flex;
    gap: 4vw;
    list-style-type: none;
}

nav button {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 1vh 1vw 1vh 1vw;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    cursor: pointer;
}


.white-black {
    background-color: white;
    color: black;
    transition: all ease 0.5s;
    box-shadow: 0 0 1px grey;
}

.black-white {
    background-color: #111111;
    color: white;
    transition: all ease 0.5s;

}

.transparent-white {
    color: white;
    transition: all ease 0.5s;
}

.transparent-black {
    color: black;
    transition: all ease 0.5s;
}

.profile-button {
    padding-left: 35px;
    padding-right: 35px;
}

@media (max-width: 992px) {
    header {
        height: 7vh;
        padding: 0;
    }

    .header-menu-bar {
        height: 7vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;
    }

    .header-mobile-menu img {
        width: 125px;
    }

    .header-mobile-menu nav{
        width: 100vw;
        padding: 2vh 4vw;
    }

    .header-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    .header-mobile-menu ul {
        display: flex;
        flex-direction: column;
    }

    .header-mobile-menu button {
        display: flex;
        border: none;
        background-color: transparent;
    }

    .black-white button {
        color: white;
    }

    .transparent-white button {
        color: white;
    }
}