.profile-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

/* calendar */

.profile-content-container .profile-calendar {
    margin-top: 75px;
    width: 95%;
}

.profile-content-container .profile-calendar .calendar-cell p{
    font-size: var(--lower-text-size);
}

/* Section 'Trainer' et 'Vos actions' */

.profile-content-container .trainer-zone,
.profile-content-container .training-zone {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-bottom: 20px;
}

.profile-content-container .trainer-zone>p:first-child,
.profile-content-container .training-zone>p:first-child {
    font-weight: bold;
}

.profile-content-container .trainings-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: fit-content;
    max-height: 700px;
    padding: 5px;
}

/* Section commentaires */


.profile-content-container .profile-commentaire-container{
    width: 80%;
    margin-bottom: 25px;
}

.profile-content-container .profile-commentaire-container > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

}

.profile-content-container .profile-commentaire-container > form >textarea{
    resize: none;
    border: none;
    height: 200px;
    outline: none;
    background-color: var(--input-color1);
    color: var(--color-primary);
    padding: 25px;
    font-size: var(--text-size);
    border-radius: 10px;
}

.profile-content-container .profile-commentaire-container > form > button{
    background-color: var(--button-color);
    color: var(--bg-primary);
    border: none;
    height: 50px;
    border-radius: 10px;
}

.profile-content-container .profile-commentaire-container > form > button:hover{
    background-color: var(--failure-color);
    transition: all ease 0.2s;
}

@media(max-width: 750px){
    .profile-content-container{
        width: 100%;
    }
}