.profilePage-backgroundPrincipal{
    background-color: var(--bg-secondary);
    display: flex;
}


@media (max-width: 750px){
    .profilePage-backgroundPrincipal{
        flex-direction: column;
    }
}
