.stepProposalsSummary-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

}

.stepProposalsSummary-container .title {
    font-weight: bold;
}

.stepProposalsSummary-container .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stepProposalsSummary-container .cancel-proposals-button {
    background: unset;
    border: unset;
    height: fit-content;
    width: fit-content;
    font-size: var(--lower-text-size);
    color: red;
    background: linear-gradient(to top, red 0%, red 5%, transparent 5.01%) no-repeat right bottom / 0% 100%;
    transition: background-size .5s;
}

.stepProposalsSummary-container .cancel-proposals-button:hover {
    background-size: 100% 100%;
    background-position: bottom left;
}

.stepProposalsSummary-container .proposal {
    margin-left: 20px;
}


.stepProposalsSummary-container .proposal .proposal-number {
    font-weight: bold;
    text-decoration: underline;
}

.stepProposalsSummary-container .proposal strong {
    text-decoration: underline;
    font-weight: 500;
}

.stepProposalsSummary-container .proposal .section-days {
    margin-left: 20px;
}