.stepDisplayFinalProposal-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}

.stepDisplayFinalProposal-container p:not(.title) {
    font-size: var(--lower-text-size);
}

.stepDisplayFinalProposal-container .title {
    font-weight: bold;
}

.stepDisplayFinalProposal-container strong {
    text-decoration: underline;
    font-weight: 500;
}

.stepDisplayFinalProposal-container .section-days {
    margin-left: 20px;
}