.trainerChoiceItem-container{
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 25px;
    box-shadow: 1px 2px 2px var(--line-color);
    padding: 10px;
    position: relative;
}

.trainerChoiceItem-userMainInfos-profilePic{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.trainerChoiceItem-userMainInfos-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trainerChoiceItem-userMainInfos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.click {
    transform: rotate(90deg);
    transition: transform 0.2s ease;
}

.TrainerChoiceItem-plusButton {
    position: absolute; 
    transform: translateX(-47%); 
    left: 50%;
}

.darkButton{
    width: 100px;
    height: 40px;
}