.tp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    /* background-color: rgb(148, 199, 246); */
}
.tp-container input {
    font-size: var(--text-size);
    /* height: 40px; */
}

.tp-container .css-13cymwt-control,
.tp-container .css-t3ipsp-control {
    height: 40px;
}

.tp-container p:not(.proposal-number) {
    /* background-color: red; */
    font-size: var(--lower-text-size);
    color: #5B5B5B;
}


.tp-container .tp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tp-container .tp-header p.proposal-number {
    text-decoration: underline;
    font-weight: 300;
    height: fit-content;
}

.tp-container .tp-header .button-del {
    color: #5b5b5b;
    transition: all ease 0.2s;
    cursor: pointer;
}

.tp-container .tp-header .button-del:hover {
    color: red;
    stroke-width: 0.5;
}

.tp-container .tp-table {
    width: 100%;
    table-layout: fixed;
    
}

.tp-container .tp-table th{
    border: 1px solid rgba(0, 0, 0, 0.336); 
    width: 10%;
} 

.tp-container .tp-dates-container {
    display: flex;
    gap: 2%;
    /* background-color: rgb(148, 246, 168); */
}
.tp-container .tp-dates-container>div {
    width: 49%;
}
