.update-user {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.update-user .user-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.update-user .user-container img {
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 50px;
}